/* line 19, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
html {
  font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
  font-size: 10pt;
  background-color: #181a1c; }
  /* line 24, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
  html body {
    margin: 0px; }
  /* line 28, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
  html section {
    position: fixed;
    top: 0px;
    height: 100vh; }
    /* line 33, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html section.left {
      left: 0px; }
    /* line 37, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html section.right {
      right: 0px; }
    /* line 41, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html section#ace {
      width: calc(80ch + 6ch + 8px); }
      /* line 44, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html section#ace #editor.ace-tomorrow-night {
        font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace !important;
        font-size: 10pt !important;
        width: 100%;
        height: 100%; }
        /* line 50, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_active-line {
          border-top-right-radius: 2px;
          border-bottom-right-radius: 2px; }
        /* line 55, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_gutter {
          width: 6ch !important;
          margin-right: 0ch !important;
          background-color: #181a1c; }
          /* line 60, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_gutter .ace_gutter-active-line {
            background-color: #232529; }
          /* line 64, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_gutter .ace_gutter-layer {
            overflow: visible !important; }
          /* line 68, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_gutter .ace_gutter-cell {
            padding: 0ch 1ch 0ch 0ch !important;
            width: 5ch !important; }
        /* line 74, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_heading {
          color: #b294bb;
          font-weight: 700; }
        /* line 79, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_string:not(.ace_blockquote):not(.ace_attribute-value) {
          color: #c5c8c6; }
          /* line 82, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_string:not(.ace_blockquote):not(.ace_attribute-value).ace_strong {
            font-weight: 700; }
          /* line 86, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_string:not(.ace_blockquote):not(.ace_attribute-value).ace_emphasis {
            font-style: italic; }
          /* line 90, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#ace #editor.ace-tomorrow-night .ace_string:not(.ace_blockquote):not(.ace_attribute-value):not(.ace_emphasis):not(.ace_strong) {
            color: #81a2be;
            font-weight: 700;
            text-decoration: underline; }
            /* line 95, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#ace #editor.ace-tomorrow-night .ace_string:not(.ace_blockquote):not(.ace_attribute-value):not(.ace_emphasis):not(.ace_strong) + .ace_constant {
              font-weight: 400; }
        /* line 101, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_blockquote + .ace_string:not(.ace_blockquote) {
          color: #b5bd68; }
        /* line 105, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_heading + .ace_string:not(.ace_blockquote) {
          color: #b294bb;
          font-weight: 700; }
        /* line 110, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_constant {
          font-weight: 700;
          color: #de935f; }
        /* line 115, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#ace #editor.ace-tomorrow-night .ace_url {
          text-decoration: underline; }
      /* line 120, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html section#ace ::-webkit-scrollbar {
        width: 0px;
        height: 0px; }
    /* line 126, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html section#preview {
      width: calc(100vw - (80ch + 6ch + 8px)); }
      /* line 129, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html section#preview > div {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin: 16px;
        width: calc(100% - 32px);
        height: calc(100% - 32px);
        background-color: #ffffff;
        border-radius: 2px; }
        /* line 138, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
        html section#preview > div #output {
          font-size: 13px;
          font-weight: 400;
          padding: 0px 16px;
          display: inline-block;
          width: calc(100% - 32px);
          height: 100%;
          font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
          overflow: auto;
          color: rgba(0, 0, 0, 0.87); }
          @media screen and (max-width: 768px) {
            /* line 138, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output {
              font-size: 14px; } }
          /* line 148, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html.transparent-cards html section#preview > div #output {
            color: white; }
          /* line 153, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output p {
            margin-top: 16px;
            margin-right: 0px;
            margin-bottom: 16px;
            margin-left: 0px; }
          /* line 162, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output blockquote {
            color: rgba(0, 0, 0, 0.54);
            margin-top: 8px;
            margin-right: 0px;
            margin-bottom: 8px;
            margin-left: 8px;
            font-style: italic;
            border-left: 1px solid rgba(0, 0, 0, 0.12);
            padding-top: 8px;
            padding-right: 0px;
            padding-bottom: 8px;
            padding-left: 24px; }
            /* line 163, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output blockquote {
              color: rgba(255, 255, 255, 0.7); }
            /* line 174, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output blockquote {
              border-left-color: rgba(255, 255, 255, 0.12); }
            /* line 185, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output blockquote i, html section#preview > div #output blockquote em {
              font-style: normal; }
            /* line 189, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output blockquote p {
              margin-top: 0px;
              margin-bottom: 0px; }
          /* line 197, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h1 {
            font-size: 45px;
            font-weight: 400; }
          /* line 201, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h2 {
            font-size: 34px;
            font-weight: 400; }
          /* line 205, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h3 {
            font-size: 24px;
            font-weight: 400; }
          /* line 209, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h4 {
            font-size: 20px;
            font-weight: 500; }
          /* line 213, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h5 {
            font-size: 15px;
            font-weight: 400; }
            @media screen and (max-width: 768px) {
              /* line 213, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
              html section#preview > div #output h5 {
                font-size: 16px; } }
          /* line 217, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output h6 {
            font-size: 13px;
            font-weight: 500; }
            @media screen and (max-width: 768px) {
              /* line 217, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
              html section#preview > div #output h6 {
                font-size: 14px; } }
          /* line 221, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output hr {
            margin-top: 16px;
            margin-right: -16px;
            margin-bottom: 16px;
            margin-left: -16px;
            border: none;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
            /* line 229, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output hr {
              border-bottom-color: rgba(255, 255, 255, 0.12); }
          /* line 235, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output ul, html section#preview > div #output ol {
            padding-left: 20px;
            margin-top: 16px;
            margin-right: 0px;
            margin-bottom: 16px;
            margin-left: 0px; }
            /* line 244, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output ul li, html section#preview > div #output ol li {
              margin-bottom: 4px; }
          /* line 249, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output a {
            color: #448aff;
            text-decoration: none; }
            /* line 250, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output a {
              color: #82b1ff; }
            /* line 256, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output a:hover {
              text-decoration: underline; }
          /* line 261, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output i, html section#preview > div #output em {
            font-style: italic; }
          /* line 265, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output b, html section#preview > div #output strong {
            font-weight: bold; }
          /* line 269, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output code {
            font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
            background-color: #f5f5f5;
            border-radius: 2px;
            padding: 1px 4px;
            margin: 0px 2px; }
            /* line 271, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output code {
              background-color: transparent;
              border: 1px solid rgba(255, 255, 255, 0.12); }
          /* line 281, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output pre {
            margin: 16px 0px; }
            /* line 283, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html:not(.code-block-scroll) html section#preview > div #output pre {
              white-space: pre-wrap; }
            /* line 287, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html section#preview > div #output pre code {
              display: block;
              font-size: 10pt;
              padding: 8px;
              margin: 0px;
              overflow-x: auto; }
          /* line 296, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output > img {
            border-radius: 2px; }
          /* line 300, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
          html section#preview > div #output ::selection {
            background-color: #82b1ff; }
            /* line 301, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
            html.transparent-cards html section#preview > div #output ::selection {
              background-color: rgba(255, 255, 255, 0.2); }
  /* line 311, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
  html #toolbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: fixed;
    top: 0px;
    width: calc(80ch - 8px);
    left: 6ch;
    height: 40px;
    margin: 4px;
    background-color: #242729;
    border-radius: 2px;
    padding: 4px;
    user-select: none; }
    /* line 325, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html #toolbar a {
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      min-width: 24px;
      height: 24px;
      line-height: 24px;
      padding: 8px;
      margin-right: 4px;
      border-radius: 20px;
      color: #ffffff;
      font-family: "Roboto", "Noto Sans", "Arial", "Helvetica", sans-serif;
      transition: background-color 375ms cubic-bezier(0.4, 0, 0.2, 1);
      float: left; }
      /* line 337, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html #toolbar a:not(.title) {
        cursor: pointer; }
      /* line 342, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html #toolbar a.title {
        font-size: 20px;
        font-weight: 500;
        text-transform: none; }
      /* line 348, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html #toolbar a:not(.title):hover {
        background-color: rgba(255, 255, 255, 0.2); }
      /* line 352, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html #toolbar a :not(img) {
        margin: 0px 14px; }
      /* line 356, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
      html #toolbar a[name="close"] {
        float: right; }
    /* line 361, /home/arm32/Projects/Web/Material Mark/scss/main.scss */
    html #toolbar hr {
      width: 1px;
      height: 100%;
      border: none;
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      margin: 0px;
      margin-left: 7px;
      margin-right: 12px;
      float: left;
      display: inline-block; }

/*# sourceMappingURL=main.css.map */