@import "animation";
@import "material";

html {
    &.blue-background {
        background-color: material-color("indigo", "500");
    }
    &.darker-gray-bg {
        background-color: #e0e0e0;
    }
    background-color: #fafafa;
    font-family: $font-family;
    
    body {
        margin: 0px;
        
        &.help {
            @include material-elevation(2);
            
            padding: 16px 48px;
            width: 65vw;
            margin: 16px auto;
            min-height: calc(100vh - 64px);
            height: auto;
            background-color: #ffffff;
            border-radius: 2px;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            
            #back-link {
                position: fixed;
                top: 0px;
                left: 0px;
                padding: 8px;
                border-radius: 64px;
                margin: 12px;
                height: 24px;
                width: 24px;
                transition: background-color 375ms $swift-out;
                
                &:hover {
                    background-color: rgba(#000000, 0.2);
                }
                
                #back-icon {
                    opacity: 0.54;
                }
            }
        }
    }
}

#help-icon {
    padding: 20px;
    margin: -20px auto !important;
    
    a {
        opacity: 0;
        transition: background-color 375ms $swift-out, opacity 200ms $swift-out;
        width: 24px;
        height: 24px;
        padding: 8px;
        margin: -8px;
        border-radius: 64px;
        display: inline-block;

        &:hover {
            background-color: rgba(#ffffff, 0.2);
            opacity: 1;
        }
    }
    
    &:hover a {
        opacity: 1;
    }
}

#body {
    @include material-text("Body");

    html.transparent-cards & {
        color: $w-primary-text-color;
    }
    color: $primary-text-color;

    p {
        margin: {
            top: 16px;
            right: 0px;
            bottom: 16px;
            left: 0px;
        };
    }

    blockquote {
        html.transparent-cards & {
            color: $w-secondary-text-color;
        }
        color: $secondary-text-color;
        margin: {
            top: 8px;
            right: 0px;
            bottom: 8px;
            left: 8px;
        };
        font-style: italic;
        html.transparent-cards & {
            border-left-color: $w-divider-color;
        }
        border-left: 1px solid $divider-color;
        padding: {
            top: 8px;
            right: 0px;
            bottom: 8px;
            left: 24px;
        };

        i, em {
            font-style: normal;
        }

        p {
            margin: {
                top: 0px;
                bottom: 0px;
            }
        }
    }

    h1 {
        @include material-text("Display 2");
    }

    h2 {
        @include material-text("Display 1");
    }

    h3 {
        @include material-text("Headline");
    }

    h4 {
        @include material-text("Title");
    }

    h5 {
        @include material-text("Subheading");
    }

    h6 {
        @include material-text("Body 2");
    }

    hr {
        margin: {
            top: 16px;
            right: -16px;
            bottom: 16px;
            left: -16px;
        };
        border: none;
        html.transparent-cards & {
            border-bottom-color: $w-divider-color;
        }
        border-bottom: 1px solid $divider-color;
    }

    ul, ol {
        padding-left: 20px;
        margin: {
            top: 16px;
            right: 0px;
            bottom: 16px;
            left: 0px;
        };

        li {
            margin-bottom: 4px;
        }
    }

    a {
        html.transparent-cards & {
            color: material-color("blue", "a100");
        }
        color: material-color("blue", "a200");
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    i, em {
        font-style: italic;
    }

    b, strong {
        font-weight: bold;
    }

    code {
        font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
        html.transparent-cards & {
            background-color: transparent;
            border: 1px solid $w-divider-color;
        }
        background-color: #f5f5f5;
        border-radius: 2px;
        padding: 1px 4px;
        margin: 0px 2px;
    }

    pre {
        margin: 16px 0px;
        html:not(.code-block-scroll) & {
            white-space: pre-wrap;
        }

        code {
            display: block;
            font-size: 10pt;
            padding: 8px;
            margin: 0px;
            overflow-x: auto;
        }
    }

    > img {
        border-radius: 2px;
    }

    ::selection {
        html.transparent-cards & {
            background-color: rgba(#ffffff, 0.2);
        }
        background-color: material-color("blue", "a100");
    }
}

#main-header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 192px;
    background-color: material-color("indigo", "500");
    html:not(.blue-background) & {
        @include material-elevation(4);
    }
    color: #ffffff;
    user-select: none;
    
    .row {
        margin: 0px;
        padding: 20px;
        height: 24px;
        position: relative;
        
        span {
            display: block;
            height: 24px;
            line-height: 24px;
            
            &.left {
                float: left;
                text-align: left;
            }

            &.right {
                float: right;
                text-align: right;
            }

            &.center {
                margin: 0px auto;
                width: 512px;
                text-align: center;
            }
            
            &#time {
                @include material-text("Display 4");
                
                position: absolute;
                top: 0px;
                left: 0px;
                height: 88px;
                line-height: 88px;
                padding: 20px;
                padding-left: 40px;
                transform: translateY(8px);
                html.monospace-clock & {
                    font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
                }
            }
            
            &#date {
                @include material-text("Title");
                
                padding-left: 20px;
                transform: translateY(-4px);
            }
            
            &#temp {
                @include material-text("Display 3");
                
                position: absolute;
                top: 0px;
                right: 0px;
                height: 88px;
                line-height: 88px;
                padding: 20px;
                padding-right: 160px;
                html.monospace-clock & {
                    font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
                }
                
                &::after {
                    @extend small;
                    
                    content: " °C";
                }
            }
            
            &#weather {
                @include material-text("Title");
                
                position: absolute;
                top: 0px;
                right: 0px;
                padding: 20px;
                padding-right: 160px;
                transform: translateY(20px);
            }
            
            &#weather-icon {
                position: absolute;
                top: 0px;
                right: 0px;
                height: 120px;
                width: 96px;
                padding: 16px;
                padding-right: 32px;
                
                img {
                    width: 96px;
                    height: 96px;
                    margin: 12px 0px;
                }
            }
            
            &#weather-last-updated {
                @include material-text("Caption");
                
                color: $w-hint-text-color;
                line-height: 16px;
                
                small {
                    font-size: 100%;
                }
            }
        }
    }
}

#school-name {
    @include material-text("Headline");
    
    position: relative;
    top: -20px;
    height: 56px !important;
    line-height: initial !important;
}

#slogan {
    @include material-text("Subheading");
    
    margin-top: 8px;
}

small {
    font-size: 60%;
}

footer#quote {
    html:not(.transparent-cards) & {
        @include material-elevation(2);
    }
    
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin: 16px;
    border-radius: 2px;
    html.transparent-cards & {
        background-color: transparent;
        border: 1px solid $w-divider-color;
    }
    background-color: #ffffff;
    html.transparent-cards {
        height: 62px;
    }
    height: 64px;
    html.transparent-cards {
        width: calc(100% - 34px);
    }
    width: calc(100% - 32px);
    display: block;
    line-height: 64px;
    overflow: hidden;
    html:not(.sans-font-quote) & {
        font-family: "Roboto Slab", "Noto Serif", serif; 
        font-weight: 300;
    }
    font-size: 34px;
    
    
    span {
        display: inline-block;
        transform: translateX(100%);
        height: 64px;
        animation: quote-scroll 20s linear infinite;
        html.transparent-cards & {
            color: $w-secondary-text-color;
        }
        color: $secondary-text-color;
        
        b {
            html.transparent-cards & {
                color: $w-primary-text-color;
            }
            color: $primary-text-color; 
            html:not(.sans-font-quote) & {
                font-weight: 300;
            }
            html.sans-font-quote & {
                font-weight: 400;
            }
        }
    }
}

#newsfeed-container {
    html:not(.transparent-cards) & {
        @include material-elevation(2);
    }
    
    position: fixed;
    html.transparent-cards & {
        background-color: transparent;
        border: 1px solid $w-divider-color;
    }
    background-color: #ffffff;
    html.transparent-cards & {
        height: calc(100vh - 306px);
    }
    height: calc(100vh - 304px);
    html.transparent-cards & {
        width: calc(100vw - ((100vh - 304px) * (16 / 9)) - 82px);
    }
    width: calc(100vw - ((100vh - 304px) * (16 / 9)) - 80px);
    top: 208px;
    left: 16px;
    border-radius: 2px;
    overflow: hidden;
    padding: 0px 16px;
    
    #newsfeed, body.help {
        @extend #body;
        
        animation: newsfeed-scroll 30s linear infinite;
    }
}

#video-container {
    @include material-elevation(2);
    
    background-color: #000000;
    height: calc(100vh - 304px);
    width: calc((100vh - 304px) * (16 / 9));
    position: fixed;
    top: 208px;
    right: 16px;
    html.video-round-corners & {
        border-radius: 2px;
        overflow: hidden;
    }
    
    iframe {
        width: 100%;
        height: 100%;
        border: none;
    }
}

::selection {
    html.transparent-cards & {
        background-color: rgba(#ffffff, 0.2);
    }
    background-color: material-color("blue", "a100");
}
