@import "material";

$tommorow-night--background: #1d1f21;
$tomorrow-night--current-line: #282a2e;
$tomorrow-night--selection: #373b41;
$tomorrow-night--foreground: #c5c8c6;
$tomorrow-night--comment: #969896;
$tomorrow-night--red: #cc6666;
$tomorrow-night--orange: #de935f;
$tomorrow-night--yellow: #f0c674;
$tomorrow-night--green: #b5bd68;
$tomorrow-night--aqua: #8abeb7;
$tomorrow-night--blue: #81a2be;
$tomorrow-night--purple: #b294bb;
$tomorrow-night--brown: #a3685a;

$gutter-width: 6ch;

html {
    font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
    font-size: 10pt;
    background-color: darken(#1d1f21, 2%);
    
    body {
        margin: 0px;
    }
    
    section {
        position: fixed;
        top: 0px;
        height: 100vh;
        
        &.left {
            left: 0px;
        }
        
        &.right {
            right: 0px;
        }
        
        &#ace {
            width: calc(80ch + #{$gutter-width} + 8px);
            
            #editor.ace-tomorrow-night {
                font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace !important;
                font-size: 10pt !important;
                width: 100%;
                height: 100%;
                
                .ace_active-line {
                    border-top-right-radius: 2px;
                    border-bottom-right-radius: 2px;
                }
                
                .ace_gutter {
                    width: $gutter-width !important;
                    margin-right: 0ch !important;
                    background-color: darken(#1d1f21, 2%);
                    
                    .ace_gutter-active-line {
                        background-color: darken(#282a2e, 2%);
                    }
                    
                    .ace_gutter-layer {
                        overflow: visible !important;
                    }
                    
                    .ace_gutter-cell {
                        padding: 0ch 1ch 0ch 0ch !important;
                        width: 5ch !important;
                    }
                }
                
                .ace_heading {
                    color: $tomorrow-night--purple;
                    font-weight: 700;
                }
                
                .ace_string:not(.ace_blockquote):not(.ace_attribute-value) {
                    color: $tomorrow-night--foreground;
                    
                    &.ace_strong {
                        font-weight: 700;
                    }
                    
                    &.ace_emphasis {
                        font-style: italic;
                    }
                    
                    &:not(.ace_emphasis):not(.ace_strong) {
                        color: $tomorrow-night--blue;
                        font-weight: 700;
                        text-decoration: underline;
                        
                        + .ace_constant {
                            font-weight: 400;
                        }
                    }
                }
                
                .ace_blockquote + .ace_string:not(.ace_blockquote) {
                    color: $tomorrow-night--green;
                }
                
                .ace_heading + .ace_string:not(.ace_blockquote) {
                    color: $tomorrow-night--purple;
                    font-weight: 700;
                }
                
                .ace_constant {
                    font-weight: 700;
                    color: $tomorrow-night--orange;
                }
                
                .ace_url {
                    text-decoration: underline;
                }
            }
            
            ::-webkit-scrollbar {
                width: 0px;
                height: 0px;
            }
        }
        
        &#preview {
            width: calc(100vw - (80ch + #{$gutter-width} + 8px));
            
            > div {
                @include material-elevation(2);
                
                margin: 16px;
                width: calc(100% - 32px);
                height: calc(100% - 32px);
                background-color: #ffffff;
                border-radius: 2px;
                
                #output {
                    @include material-text("Body");
                    
                    padding: 0px 16px;
                    display: inline-block;
                    width: calc(100% - 32px);
                    height: 100%;
                    font-family: $font-family;
                    overflow: auto;

                    html.transparent-cards & {
                        color: $w-primary-text-color;
                    }
                    color: $primary-text-color;

                    p {
                        margin: {
                            top: 16px;
                            right: 0px;
                            bottom: 16px;
                            left: 0px;
                        };
                    }

                    blockquote {
                        html.transparent-cards & {
                            color: $w-secondary-text-color;
                        }
                        color: $secondary-text-color;
                        margin: {
                            top: 8px;
                            right: 0px;
                            bottom: 8px;
                            left: 8px;
                        };
                        font-style: italic;
                        html.transparent-cards & {
                            border-left-color: $w-divider-color;
                        }
                        border-left: 1px solid $divider-color;
                        padding: {
                            top: 8px;
                            right: 0px;
                            bottom: 8px;
                            left: 24px;
                        };

                        i, em {
                            font-style: normal;
                        }

                        p {
                            margin: {
                                top: 0px;
                                bottom: 0px;
                            }
                        }
                    }

                    h1 {
                        @include material-text("Display 2");
                    }

                    h2 {
                        @include material-text("Display 1");
                    }

                    h3 {
                        @include material-text("Headline");
                    }

                    h4 {
                        @include material-text("Title");
                    }

                    h5 {
                        @include material-text("Subheading");
                    }

                    h6 {
                        @include material-text("Body 2");
                    }

                    hr {
                        margin: {
                            top: 16px;
                            right: -16px;
                            bottom: 16px;
                            left: -16px;
                        };
                        border: none;
                        html.transparent-cards & {
                            border-bottom-color: $w-divider-color;
                        }
                        border-bottom: 1px solid $divider-color;
                    }

                    ul, ol {
                        padding-left: 20px;
                        margin: {
                            top: 16px;
                            right: 0px;
                            bottom: 16px;
                            left: 0px;
                        };

                        li {
                            margin-bottom: 4px;
                        }
                    }

                    a {
                        html.transparent-cards & {
                            color: material-color("blue", "a100");
                        }
                        color: material-color("blue", "a200");
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    i, em {
                        font-style: italic;
                    }

                    b, strong {
                        font-weight: bold;
                    }

                    code {
                        font-family: "Roboto Mono", "Droid Sans Mono", "Monaco", monospace;
                        html.transparent-cards & {
                            background-color: transparent;
                            border: 1px solid $w-divider-color;
                        }
                        background-color: #f5f5f5;
                        border-radius: 2px;
                        padding: 1px 4px;
                        margin: 0px 2px;
                    }

                    pre {
                        margin: 16px 0px;
                        html:not(.code-block-scroll) & {
                            white-space: pre-wrap;
                        }

                        code {
                            display: block;
                            font-size: 10pt;
                            padding: 8px;
                            margin: 0px;
                            overflow-x: auto;
                        }
                    }

                    > img {
                        border-radius: 2px;
                    }

                    ::selection {
                        html.transparent-cards & {
                            background-color: rgba(#ffffff, 0.2);
                        }
                        background-color: material-color("blue", "a100");
                    }
                }
            }
        }
    }
    
    #toolbar {
        @include material-elevation(4);
        
        position: fixed;
        top: 0px;
        width: calc(80ch - 8px);
        left: $gutter-width;
        height: 40px;
        margin: 4px;
        background-color: lighten(#1d1f21, 3%);
        border-radius: 2px;
        padding: 4px;
        user-select: none;
        
        a {
            @include material-text("Button");
            
            min-width: 24px;
            height: 24px;
            line-height: 24px;
            padding: 8px;
            margin-right: 4px;
            border-radius: 20px;
            color: #ffffff;
            font-family: $font-family;
            transition: background-color 375ms $swift-out;
            &:not(.title) {
                cursor: pointer;
            }
            float: left;
            
            &.title {
                @include material-text("Title");
                
                text-transform: none;
            }
            
            &:not(.title):hover {
                background-color: rgba(#ffffff, 0.2);
            }
            
            :not(img) {
                margin: 0px 14px;
            }
            
            &[name = "close"] {
                float: right;
            }
        }
        
        hr {
            width: 1px;
            height: 100%;
            border: none;
            border-right: 1px solid $w-divider-color;
            margin: 0px;
            margin-left: 7px;
            margin-right: 12px;
            float: left;
            display: inline-block;
        }
    }
}
